
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background: linear-gradient(to right,#0f3b4d,#2bc9c8);
    color: #20dbd8;
    font-family:"Montserrat", sans-serif;
  }

  p, p1, p2, ul{
    font-family:"Montserrat", sans-serif;
    font-size:18px;
  }
  #Name{
    font-size: 24px;
  }
  .picture{
    border-radius: 5% 50% 30%;
  }

  div.sobre{
    width: 500px;
    max-width: 800px;
    display: flex;
    color: #c2dabe;
    background-color: transparent;
    backdrop-filter: blur(60px);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 2rem black;

  }
  div.conteudo{
    width: 600px;
    max-width: 800px;
    display: flex;
    color: #c2dabe;
    background-color: transparent;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 100%;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 2rem black;

  }

  div.habilidades{
    width: 600px;
    max-width: 800px;
    display: flex;
    color: #c2dabe;
    background-color: transparent;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 100%;
    left: 80%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 2rem black;
  }
  
  


  header{
    height: 100vh;
    width: 100vw;
    display: flex;
    background:#061f29;
    background-image: url(/SLC_3290-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex-direction:  column;
    justify-content: center;
    align-items:flex-end;
    box-shadow: 0 0 1rem black;
    box-sizing: border-box;
    padding: 0 120px;

  }
  h1{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  h2{
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  .rede{
    margin-top: 1rem;
    display: flex;
  }

  .rede a{
    text-decoration: none;
    color: #08bfff;
    padding: 1rem 4rem;
    border: 1px solid black;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
  }

  a:hover{
    background-color: white;
  }


  ul{
    display: flex;
    left: 30px;;

  }

  li{
    color: #0ffff8;
    list-style-type: none;
    padding-left: 2rem;
  }


  